body{
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
}

/* Nav Bar style */
.menu-order {
  float: left;
}

.menu-order a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-order a:hover:not(.active-item) {
  background-color: #111;
}

.active-item {
    background-color: #E32526;
}
.nav-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
/* End Nab Bar Style */