body{
    margin: 0px;
    font-family: 'Barlow Condensed', sans-serif;
}

.title{
    text-align: center;
}

/* body margin */
.container{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
}
/* End body margin *

/* Nav bar */
.menu-order {
  float: left;
}

.menu-order a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-order a:hover:not(.active-item) {
  background-color: #111;
}

.active-item {
    background-color: #E32526;
}

.nav-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
/* End nav bar */

/* Form Style */

.form-style{
	font-family: 'Barlow Condensed', sans-serif;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}

.form-style h1{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Barlow Condensed', sans-serif;;
	color: #c0c0c0;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-style input[type="text"],
.form-style input[type="number"],
.form-style textarea,
.form-style select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: larger;
	height: 45px;
}
.form-style textarea{
	resize:none;
	overflow: hidden;
}
.form-style input[type="button"], 
.form-style input[type="submit"],
.form-style input[type="reset"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #f83737;
	-webkit-box-shadow: inset 0px 1px 0px 0px #f83737;
	box-shadow: inset 0px 1px 0px 0px #f83737;
	background-color: #d62e2e;
	border: 1px solid #c03232;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
  border-radius: 15px;
}
.form-style input[type="button"]:hover, 
.form-style input[type="submit"]:hover,
.form-style input[type="reset"]:hover {
	background:linear-gradient(to bottom, #df3737 5%, #eb4d4d 100%);
	background-color:#dd5c5c;
}
/* Form Style End  */

/* Error style */
#error{
  color: red;
  font-weight: bolder;
  font-size: larger;
}
/* Error style End *


/* Footer */
.footer-style{
    text-align: center;
    /* padding: 3px; */
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    height: 95px;
    bottom: 0;
}

i{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
/* End Footer  */

