
body{
    margin: 0px;
    font-family: 'Barlow Condensed', sans-serif;
}

.title{
    text-align: center;
}

/* body margin */
.container{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
}
/* End body margin */

/* Style button link */
.hw1-btn-style{
  text-align: center;
  border-radius: 15px;
  border: rgb(233, 48, 48);
  border-style: solid;
  border-width: thin;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  color: rgb(211, 21, 21);
  margin-bottom: 20px;
  font-weight: bold;
}

.hw1-btn-style:hover{
  background-color: #eb8484;
  color: white;
  
}
.margin-btn-hw1{
  margin-bottom: 15px;
}

/* End Style button link */


/* Link style */
.btn-link{
  text-align: center;
  border-radius: 15px;
  border: rgb(233, 48, 48);
  border-style: solid;
    border-width: thin;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color: rgb(211, 21, 21);
    margin-bottom: 20px;
    font-weight: bold;
  }
  .btn-link:hover{
    background-color: #eb8484;
    color: white;
  }
  /* End link style */

  /* Marging for button in the drop-down  */
  .margin-btn{
      margin-bottom: 20px;
  }
  
  /* End Marging  *
  
  /* Nav bar */
  .menu-order {
  float: left;
}

.menu-order a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-order a:hover:not(.active-item) {
  background-color: #111;
}

.active-item {
    background-color: #E32526;
}

.nav-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/* End nav bar */

/* Collapse style */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
    content: "\2212";
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\002B';
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;

}

/* End collapse */

/* Footer */
.footer-style{
    text-align: center;
    /* padding: 3px; */
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    height: 95px;
    bottom: 0;
}

i{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
/* End Footer  */
